/* Featured Products */
.card {
  float: left;
  width: 23.5%;
  height: 400px;
  padding: 15px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: #dbdbdb;
  border-radius: 5px;
}

.listing {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: transform .2s;
}

.listing:hover {transform: scale(1.15);}

.card a {
  text-decoration: none;
  color: black;
}

.card a:hover {
  text-decoration: underline;
}

#item1 {background-image: url("/Images/Extras/ibuypower.png")}
#item2 {background-image: url("/Images/Extras/ryzen5700x.png")}
#item3 {background-image: url("/Images/Extras/gigabyte32in.png")}
#item4 {background-image: url("/Images/Extras/HPpavilion.png")}

#item5 {background-image: url("/Images/Extras/msi4090.png")}
#item6 {background-image: url("/Images/Extras/msiAegis.png")}
#item7 {background-image: url("/Images/Extras/vengeanceRam.png")}
#item8 {background-image: url("/Images/Extras/rogstrixB650E-F.png")}

#item9 {background-image: url("/Images/Extras/WDsn770.png")}
#item10 {background-image: url("/Images/Extras/galaxybookpro.png")}
#item11 {background-image: url("/Images/Extras/noctua120.png")}
#item12 {background-image: url("/Images/Extras/lenovoThinkpad16.png")}
