.image {
  width: 35%; 
  height: 400px; 
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.container {
  width: 63%;
  float: left;
}

/* Images */
#cpu {background-image: url("Images/cpu.jpeg");}
#gpu {background-image: url("Images/gpu.png");}
#mobo {background-image: url("Images/motherboard.jpg");}
#ram {background-image: url("Images/ram.png");}

#storage {background-image: url("Images/ssd.png");}
#psu {background-image: url("Images/psu.png");}
#display {background-image: url("Images/monitor.png");}
#case {background-image: url("Images/case.png");}

#cooling {background-image: url("/Images/cooler.png");}
#peripherals {background-image: url("Images/peripherals.png");}
#expansion {background-image: url("Images/network_adapter.png");}
#os {background-image: url("Images/os.png");}